/*** RESPONSIVE DESIGN ***/


/* m1800 */

@media (max-width: 1800px) {}


/* m1700 */

@media (max-width: 1700px) {}


/* m1500 */

@media (max-width: 1500px) {}


/* m1340 */

@media (max-width: 1340px) {}


/* m1200 */

@media (max-width: 1200px) {}


/* m870 */

@media (max-width: 870px) {
	.start {
		font-family: 'Lato', sans-serif;
		font-size: 10vw;
	}
	.console-container {
		font-size: 9vw;
	}
	.text-blue {
		font-size: 1.3em;
	}
	.grid__item img {
		display: none;
	}
	.img-responsive {
		display: block;
		max-width: 90%;
		margin: 0 auto;
	}
	.aboutme {
		text-align: justify;
		font-size: 16px;
		margin-left: -1em;
		width: 115%;
	}
	.skill-text {
		font-size: 7.5vw;
	}
	.manito {
		display: none;
	}
	.mg-bottom {
		margin-bottom: 2em;
	}
	.frase-parrafo {
		font-size: 27px;
		text-align: center;
		width: 100%;
	}
	.frase {
		background-position: 73% 50%;
	}
	.seccion-movil {
		padding: 45px 0 100px;
	}
	.modal-content {
		width: 119%;
	}
}


/* m650 */

@media (max-width: 650px) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}


/* m560 */

@media (max-width: 560px) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}


/* m500 */

@media (max-width: 500px) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}


/* m460 */

@media (max-width: 460px) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}


/* m360 */

@media (max-width: 360px) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}


/* m330 */


}

/*** VERTICAL RESPONSIVE DESIGN ***/

/* v2/1 */
@media (min-aspect-ratio: 2/1) {}

/* v900 */
@media (max-height: 900px) {}

/* v750 */
@media (max-height: 750px) and (orientation: landscape) {}

/* v480 */
@media (max-height: 480px) and (orientation: landscape) {
	#contact .rocket,
	.white-smoke,
	.pink-smoke {
		display: none;
	}
}

/* v480 */
@media (max-height: 480px) {}